$primary: #fad521;

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/irsans.eot");
  src: url("../assets/fonts/irsans.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/irsans.woff2") format("woff2"), url("../assets/fonts/irsans.woff") format("woff"), url("../assets/fonts/irsans.ttf") format("truetype");
}

body {
  direction: rtl;
  text-align: right;
  p, div, h1, h2, h3, h4, div, input, button, span, li, label {
    font-family: iransans;
  }
}

.dr-header, .dr-footer {
  min-height: 400px;
}

.text-primary {
  color: $primary;
}
